<h1 class="text-3xl">Precios del negocio</h1>
<hr class="my-2">

<section>
    <p class="mb-4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla ut alias delectus eum laborum molestiae
        reiciendis, at nam blanditiis nobis distinctio dignissimos atque magnam iste nisi cupiditate vel consequuntur
        dolore. Quibusdam iusto mollitia assumenda magnam, repellendus laudantium.

        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi labore, neque quam earum assumenda sequi itaque
        quibusdam architecto perferendis fuga suscipit quisquam eos similique ad natus delectus corrupti aperiam sunt.
    </p>
</section>