<nav class="top-0 absolute z-50 w-full flex  px-2 py-3 bg-slate-900 shadow-md text-white justify-end ">

    <a class="hover:bg-slate-400 block p-2" routerLinkActive="text-blue-500" routerLink="/about"> About</a>
    <a class="hover:bg-slate-400 block p-2" routerLinkActive="text-blue-500" routerLink="/pricing"> Pricing</a>
    <a class="hover:bg-slate-400 block p-2" routerLinkActive="text-blue-500" routerLink="/contact"> Contact</a>
    <a class="hover:bg-slate-400 block p-2" routerLinkActive="text-blue-500" routerLink="/pokemons"> Pokemons</a>


</nav>