<h1>Mutaciones</h1>
<hr>

<div class="row">
    <div class="col-6">
        <input type="text" class="form-control my-3" #textEmail (input)="onFieldUpdated('email',textEmail.value)"
            [value]="user().email">

        <input type="text" class="form-control my-3" #txtFirstName
            (input)="onFieldUpdated('first_name',txtFirstName.value)" [value]="user().first_name">

        <input type="text" class="form-control my-3" #txtLastName
            (input)="onFieldUpdated('last_name',txtLastName.value)" [value]="user().last_name">

    </div>


    <div class="col-6">
        <pre>
                {{user() | json  }}
            </pre>

        {{fullName()}}
    </div>
</div>