<h1 class="text-3xl">Angular Material</h1>

<hr class="my-2">
<div class="flex gap-8">
    <div class="grid grid-cols-1 bg-white h-36 rounded-xl shadow-sm items-center justify-center p-3">
        <h4 class="font-bold text-xl">Slide toggle</h4>
        <p><mat-slide-toggle>Slide me!</mat-slide-toggle></p>
    </div>

    <div class="grid grid-cols-1 bg-white  rounded-xl shadow-sm items-center justify-center p-3">
        <h4 class="font-bold text-xl">Badges</h4>

        <div class="demo-section">
            Icon with a badge
            <mat-icon matBadge="15">home</mat-icon>
            <!-- Include text description of the icon's meaning for screen-readers -->
            <span class="cdk-visually-hidden">
                Example with a home icon with overlaid badge showing the number 15
            </span>
        </div>
    </div>


</div>